.blkOrgan .person img {
  position: absolute;
  top: 5px;
  right: 25px;
  display: block; }
.blkOrgan .person .admin {
  bottom: auto;
  top: 80px;
  right: 25px !important; }

.blkSymbol {
  border: 0; }
