* {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif; }

h1 {
  font: bold 1em/2.3em Verdana, sans-serif; }

h2, h3, h4, h5, h6, p, pre, blockquote, label, ul {
  font-size: 1em; }

ol {
  font-size: 1em;
  list-style: none; }

dl, fieldset, address {
  font-size: 1em; }

a {
  text-decoration: none; }
  a img {
    border: none; }

img {
  border: none; }

ul {
  list-style: none; }

fieldset {
  padding: .5em; }

select {
  min-width: 1.5em; }

hr {
  display: none; }

h2 {
  font: bold 1.8em/2.2em Verdana, sans-serif; }

h3 {
  font: bold 1.6em/2em Verdana, sans-serif; }

h4 {
  font: bold 1.4em/1.8em Verdana, sans-serif; }

h5 {
  font: bold 1.2em/1.6em Verdana, sans-serif; }

h6 {
  font: bold 1em/1.4em Verdana, sans-serif; }

body {
  background: #F0F0F0; }

#wrappah {
  width: 450px;
  margin: 150px auto 0 auto; }

#container_head {
  background: #75838A;
  padding: 10px 0;
  height: 50px; }
  #container_head h1 {
    color: #FFF;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 10px; }
  #container_head h2 {
    font-size: 10px;
    line-height: 10px;
    text-align: center; }

#content {
  padding: 20px;
  color: #000;
  background: #C8CDD0; }
  #content div.notice {
    padding: .5em;
    margin-bottom: 2em;
    background: #C11B1B;
    color: #FFF;
    text-align: center; }
  #content form p.nice label {
    float: left;
    display: block;
    height: 1.3em;
    font: normal 1.1em/1.3em Verdana, Helvetica, sans-serif;
    margin-bottom: .5em;
    width: 170px;
    height: 1.4em; }
  #content form p.nice input {
    width: 230px;
    padding: .05em;
    float: left;
    display: block;
    height: 1.3em;
    font: normal 1.1em/1.3em Verdana, Helvetica, sans-serif;
    margin-bottom: .5em; }
  #content form p.nice br {
    clear: left; }
  #content form p.submit {
    padding: 2em 0 1em 0; }
    #content form p.submit input {
      padding: 1em 3em;
      margin-left: 170px; }

#container_foot {
  background: #454F52;
  color: #FFF;
  height: 30px; }
  #container_foot dl {
    padding-left: 50px; }
    #container_foot dl dt {
      display: none; }
    #container_foot dl dd {
      float: left;
      padding: 0 20px;
      font: normal 10px/30px Verdana, sans-serif;
      text-align: center; }
      #container_foot dl dd a {
        color: #FFF; }
